// FONTS
@import url(https://fonts.googleapis.com/css?family=EB+Garamond);

// VARS
$header-text-white: #f5f5f5;
$header-text-black: #1b1b1b;
$header-text-orange: #f7984e;
$header-text-gray: #b6b6b6;
$header-text-light-brown: #ab9d92;
$header-background-color: #0ed1d88c;

// MIXINS
@mixin header-font-set($size, $weight, $color: $header-text-white, $style: normal, $family: 'EB Garamond') {
  font: {
    size: $size;
    weight: $weight;
    family: $family;
    style: $style;
  }
  color: $color;
}
