@import 'master';

#menu-nav {
  display: flex;
  justify-content: space-around;
  background-color: $primary-background-color;

  .nav-button {
    @include font-set(3rem, 600, $primary-color-white);
  }
}
