@import 'master';

#menu-burger {
  font-size: 5rem;
  margin-right: 2rem;
  border: {
    width: 10px;
    style: solid;
    color: $primary-color-white;
    radius: 2rem;
  }
}

.text-orange {
  color: $primary-color-orange;
}
.text-white {
  color: $primary-color-white;
}
