@import './master';

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'EB Garamond', serif;
  align-items: center;
  background-color: $primary-background-color;
  color: $primary-text-black;
}
