@import 'master';

#name-logo-container {
  display: flex;
  align-items: center;
  height: 250px;

  img {
    height: 80%;
    width: auto;
    padding: 1rem;
  }

  #header-title { // "JRSweb" header
    @include header-font-set(5.5rem, 400, $primary-text-black, italic);
    margin-left: 1.5rem;
    text-decoration: underline;
    text-decoration-color: $primary-text-white;

    span:first-child { // "JRS" only
      @include header-font-set(5.5rem, 700)
    }
    span:nth-child(3) { // 'e'
      color: $primary-text-orange;
    }
  }
}
