@import '../master';

.content-wrapper {
  max-width: 720px;
  margin: 0 auto;
  color: $primary-color-black;
  font-family: 'EB Garamond';
  word-spacing: 3px;

  @media screen and (max-width: 960px) {
    margin: 5%;
  }

  h1 {
    text-align: center;
    font-size: 2.4rem;
    margin: 0;
  }

  p {
    font-size: 1.4rem;
  }

  .multi-line-paragraph {
    text-indent: 5%;
  }

  // Arrows
  #next-prev {
    display: flex;
    justify-content: space-between;
    align-items: center;

    // Assignment Number
    h2 {
      background-color: $secondary-background-color;
      color: $primary-color-black;
      text-align:center;
      border-radius: 2rem;
      font-size: 2rem;
      padding: 10px;
      flex-grow: 2;
      // overflow: auto;
    }

    button {
      background-color: $primary-background-color;
      border-radius: 1.5rem;
      flex-grow: 3;
      padding: 5px 0;
      color: #919191;
      font-size: 1.6rem;

      &:hover { cursor: pointer; }

      span {
        text-decoration: underline;
      }

      i { font-weight: 600; }
    }

    .active {
      color: $primary-color-white;
      border: 2px solid $primary-color-blue;
      font-weight: 700;
    }
  }


  .ba-container {
    h3 {
      font-style: italic;
      text-align: center;
      font-size: 1.8rem;
    }
    div {
      display: flex;
      justify-content: space-evenly;
      margin: 0 20%;
      font-size: 1.5rem;
    }
  }
}
