@import '../scss/master';

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'EB Garamond', serif;
  align-items: center;
  background-color: $primary-background-color;
  color: $primary-color-black;
  @media screen and (max-width: 720px) {
    flex-direction: column;
  }
}

.text-orange {
  color: $primary-color-orange;
}
.text-white {
  color: $primary-color-white;
}
