@import '../scss/master';

header {
  display: flex;
  flex-direction: column;
  font-family: 'EB Garamond', serif;
  padding-bottom: -60px;
  background-color: $primary-background-color;
  color: $primary-color-black;

  @media only screen
  and (min-device-width: 320px)
  and (max-device-width: 812px) {
    flex-direction: row;
  }

  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.text-orange {
  color: $primary-color-orange;
}
.text-white {
  color: $primary-color-white;
}
