@import '../scss/master';

header {
  display: flex;
  flex-direction: column;
  font-family: 'EB Garamond', serif;
  padding-bottom: -60px;
  background-color: $primary-background-color;
  color: $primary-color-black;

  .menu-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

// For burger-menu and menu icons
.text-orange {
  color: $primary-color-orange;
}
.text-white {
  color: $primary-color-white;
}
