@import '../../scss/master';

#name-logo-container {
  display: flex;
  align-items: center;

  #header-logo {
    max-width: 100%;
    padding: 1rem;
    // hide logo when screen is less than 700px;
    @media screen and (max-width: 720px) {
      display: none;
    }
  }

  #header-title { // "JRSweb" full header
    @include font-set(5rem, 400, $primary-color-black, italic);
    margin-left: 1.5rem;
    text-decoration: underline;
    text-decoration-color: $primary-color-white;

    @media screen and (max-width: 720px) {
      margin: 0;
    }

    span:first-child { // 'JRS'
      font-weight: 700;
      font-style: normal;
      color: $primary-color-white;
    }
    span:nth-child(3) { // 'e'
      color: $primary-color-blue;
    }
  }
}
