@import '../../scss/master';

#menu-burger {
  font-size: 3rem;
  margin-right: 3rem;
  width: 120px;
  height: 60px;
  border: {
    width: 10px;
    style: solid;
    color: $primary-color-white;
    radius: 2rem;
    top: 0px;
  }

  @media only screen
  and (min-device-width: 320px)
  and (max-device-width: 812px) {
    margin: 0;
  }
}
