@import '../../scss/master';

$menu-height: 40px;

#app-menu {
  display: flex;
  justify-content: space-between;
  background-color: $secondary-background-color;
  visibility: hidden;
  line-height: 0;
  height: 0;

  &.hide {
    animation: fade-out 1.3s;
  }
  &.show{
    height: $menu-height;
    line-height: $menu-height;
    visibility: visible;
    animation: fade-in 1.3s;
  }

  .menu-button { @include font-set(2rem, 600, $primary-color-white); }

  div {
    align-items: center;
    button {
      padding: 0px 15px;
      border-right: 4px solid $primary-color-white;
      border-left: 4px solid $primary-color-white;
      border-radius: 1rem;
      &:hover {
        cursor: pointer;
      }
    }
    a {
      padding: 0px 15px;
      border-right: 4px solid $primary-color-white;
      border-left: 4px solid $primary-color-white;
      border-radius: 1rem;
    }
  }

}


@keyframes fade-in {
  0% {
    font-size: .1rem;
    line-height: 0;
    height: 0;
    opacity: 0;
  }
  100% {
    height: $menu-height;
    line-height: $menu-height;
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    visibility: visible;
    height: $menu-height;
    line-height: $menu-height;
    opacity: 1;
  }
  100% {
    height: 0;
    opacity: 0;
  }
}

