@import '../../scss/master';

#app-menu {
  display: flex;
  justify-content: space-evenly;
  background-color: $secondary-background-color;
  align-content: center;
  text-align: center;
  // text-decoration: underline overline $primary-color-orange;
  visibility: hidden;

  .menu-button {
    @include font-set(4rem, 600, $primary-color-white);
  }

  i {
    font-size: 5rem;
  }

  @media screen and (max-width: 720px) {
    flex-wrap: wrap;
    .menu-button {
      @include font-set(3rem, 600, $primary-color-white);
    }

    i {
      font-size: 3rem;
      margin: 20% 0;
    }
  }
}

#app-menu.show {
  visibility: visible;
  animation: fade-in .6s;
}
#app-menu.hide {
  visibility: hidden;
  animation: fade-out .6s;
}


@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

