@import '../../scss/master';


#menu-burger {
  font-size: 3rem;
  margin-right: 3rem;
  width: 120px;
  height: 60px;
  border: {
    width: 10px;
    style: solid;
    color: $primary-color-white;
    radius: 2rem;
    top: 0px;
  }
  @media screen and (max-width: 720px) {
    margin: 0;
    width: 80px;
    height: 40px;
    font-size: 2rem;
  }
}
