@import '../../scss/master';

#name-logo-container {
  display: flex;
  align-items: center;
  // height: 20vh;
  @media only screen
    and (min-device-width: 320px)
    and (max-device-width: 812px) {
    // height: 30%;
  }

  #header-logo {
    height: 70%;
    width: auto;
    padding: 1rem;

    @media only screen
    and (min-device-width: 320px)
    and (max-device-width: 812px) {
    height: 80%;
  }
  }

  #header-title { // "JRSweb" header
    @include font-set(5rem, 400, $primary-color-black, italic);
    margin-left: 1.5rem;
    text-decoration: underline;
    text-decoration-color: $primary-color-white;

    span:first-child { // 'JRS'
      @include font-set(5rem, 700)
    }
    span:nth-child(3) { // 'e'
      color: $primary-color-blue;
    }
  }
}
