@import '../../scss/master';

#menu-burger {
  font-size: 3rem;
  margin-right: 3rem;
  width: 120px;
  height: 60px;
  border: {
    width: 10px;
    style: solid;
    color: $primary-color-white;
    radius: 2rem;
    top: 0px;
  }
}
