// Resets
* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
button {
  background: none;
  outline: none;
  border: none;
  padding: 0;
}
a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}
