// Resets
body {
  margin: 0;
}
button {
  background: none;
  outline: none;
  border: none;
  padding: 0;
}
a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}
hr {
  display:block;
  // height: 1px;
  // border:0;
  border-top:3px solid #000000;
  margin:1em 0;
  padding:0;
}
