// FONTS
@import url(https://fonts.googleapis.com/css?family=EB+Garamond);

// VARS
$primary-background-color: #fa8b41af;
$secondary-background-color: #24ccf1a8;
$primary-color-black: #0C0C0C;
$primary-color-white: #fcfcfc;
$primary-color-orange: #F19354;
$primary-color-blue: #29ccf1;
$primary-color-gray: #A5968C;
$primary-color-brown: #73645A;

// MIXINS
@mixin font-set($size, $weight, $color: $primary-color-white, $style: normal, $family: 'EB Garamond') {
  font: {
    size: $size;
    weight: $weight;
    family: $family;
    style: $style;
  }
  color: $color;
}

// jrs-web/root
#root, #jrs-web {
  height: 100%;
}

// #jrs-web {
//   display: flex;
//   flex-direction: column;

//   .content-wrapper {
//     flex: 1 1 auto;
//   }
// }
